

p{
	text-align: center;
	text-shadow:2px 2px white;
	letter-spacing:3px;
	font-size:40px;
	color:#bf2143;
}
button{
    font-family:'Bangers',cursive;
	font-weight:bold;
	margin:auto;
	display:block;
	border-radius:5px;
	height:50px;
	width:120px;
	font-size:30px;
	background:#8080ff;
	border-style:double;
	
}
a{
	text-decoration:none;
	color:black;
}
	
button:hover {
  background:#b3b3ff;
  border-bottom-color: #111;
  cursor:pointer;
}
button:active {
  position: relative;
  top: 1px;
}


#container{
	font-family: 'Fredoka One', cursive;
	font-size:24px;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    border: 15px solid #bf2143;
    padding-left: 15px;
    padding-right: 15px;
	word-wrap:break-word;
	background:#d9d2d4;
	color:black;
}
header{
	text-align:center;
	font-family: 'Fredoka One', cursive;
	margin-top:0px;
	background:#fcba03;
	
}
#heading{
	font-size:45px;
}
#results.span {
    font-weight:bold;
	text-align:center;
    
}
#results.h1{
 padding:10px;
 margin:10px;
 color:#bf2143;
 text-align:center;
 text-decoration:underline overline dotted;
}
.question{
	font-weight:bold;
}
 h1{
	 color:#bf2143;
 
 }
body{
	color:#d9d2d4;
}

.k1:hover {
  background: yellow;
  border-bottom-color: #111;
  cursor:pointer;
}
.k1:active {
  position: relative;
  top: 1px;
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.k1{
  padding: 15px 25px;
  text-align:center;
  border: none;
  box-shadow: 9px 9px #999;
  font-family:'Fredoka One', cursive;
  font-weight:bold;
  margin:auto;
  display:block;
  border-radius:25px;
  height:60px;
  width:250px;
  font-size:24px;
  background:#fcba03;
  margin-bottom:25px;
}
#footer{
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}